<h2>修改密码</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
  :html => { :method => :put }) do |f| %>

  <!--
  <div>电子信箱（登陆名）:<br/> <%= f.email_field :email %></div>
  <br/>
  <%= link_to_function "修改密码？", "$('#change_password').fadeToggle()" %>
  -->
  <div id="change_password" style="display:"%>
    <div>新密码： <br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div>确认新密码：<br />
    <%= f.password_field :password_confirmation %></div>

    <div>当前密码： <br />
    <%= f.password_field :current_password %></div>
  </div>
  <%= render :partial => "layouts/submit_and_cancel" %>
<% end %>

