
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email, "用户名/邮箱"
    %br
    = f.email_field :email

  %div
    = f.label :password, "密码"
    %br
    = f.password_field :password

  %div
    = f.label :password_confirmation, "再次输入密码"
    %br
    = f.password_field :password_confirmation

  %div= f.submit "注册"
= render "links"


    <div class="reg_box">
        <div class="reg_info">
        <div class="reg_left">
        <h7>会员注册中心</h7>
        <p>成为布布会员，享受不一样的购物体验！</p>
        <ul>
        <li class="reg_email"><span>电子邮箱：</span><span><input name="" class="reg_form" type="text" /></span></li>
        <li class="reg_name"><span>昵称：</span><span><input name="" class="reg_form" type="text" /></span></li>
        <li class="reg_sex"><span>性别：</span><span>男 <input name="" type="radio" value="" /> 女 <input name="" type="radio" value="" /></span></li>
        <li class="reg_password"><span>密码：</span><span><input name="" class="reg_form" type="text" /></span></li>
        <li class="reg_re_input"><span>确认密码：</span><span><input name="" class="reg_form" type="text" /></span></li>
        <li class="reg_check_number"><span>验证码：</span><span><input name="" class="reg_check_number_form" type="text" /></span> <span style=" border:1px solid #666; padding:5px; background:#CF6;"> 1234 </span> <span> <a href="#"> 看不清，换一张</a></span></li>
        <li class="reg_mind"><span><input name="" type="checkbox" value="" /></span> <span> <a href="#">我已看过并同意《布布网络服务使用协议》</a></span></li>
        <li class="reg_submit"><span><input name="提交" class="reg_submit_form" value="提交" type="button" /></span></li>
        </ul>
        </div>

        <div class="reg_right"><p style="width:100%; margin-bottom:12px;">已有布布账号，请登录!</p><span><img src="images/login.png" width="80" height="22" /></span></div>
        </div>
    </div>

  <div class="clean">&nbsp;</div>
