<%= form_for(@specific_item) do |f| %>
  <div class="field">
    价格： <%= f.text_field :price %>
  </div>
  <div class="field">
    口碑： <%= f.text_field :word_of_mouth %>
  </div>
  <div class="field">
    物流： <%= f.text_field :delivery_method %>
  </div>
  <%= f.hidden_field :generic_item_id %>
  <div class="field">
    品牌： <%= collection_select :specific_item, :vendor_id, Vendor.all, :id, :name %>
  </div>
  <div class="field">
    商家： <%= f.text_field :source_website_name %>
  </div>
  <div class="field">
    原始链接： <%= f.text_area :source_url, :size => "60x3" %>
  </div>
  <%= render :partial => "layouts/submit_and_cancel" %>
<% end %>
