<!---------------------------------------------商品信息PK开始----------------------------------------->
<div id="pk_info">
    <div id="bbgwj_title"><span class="pk_box_title">布布购物街
      <% if can? :manage, generic_item %>
        <%= link_to_function "添加商品", "open_dialog('#{new_specific_item_path(:generic_item_id => generic_item.id)}')" %> <br/>
      <% end %>
    </span></div>
    <ul>
        <ol class="project">
            <li><a href="#">商家</a></li>
            <li><a href="#">价格（￥）</a></li>
            <li>商家服务</li>
            <li>物流</li>
            <li><a href="#">推荐度</a></li>
            <li>&nbsp;</li>
        </ol>
        <% generic_item.specific_items.each do |specific_item| %>
        <ol>
            <li class="shangjia"><%= specific_item.source_website_name %></li>
            <li class="jiage"><%= specific_item.price %></li>
            <li class="pinpai"><%= specific_item.vendor.try(:name) %></li>
            <li class="pinpai"><%= specific_item.delivery_method %></li>
            <li class="tjd"><%= specific_item.word_of_mouth %> </li>
            <li>
              <%= link_to "去看看", specific_item.source_url, :target => "_blank" %>
              <% if can? :manage, specific_item %>
                <%= link_to_function "修改", "open_dialog('#{edit_specific_item_path(specific_item)}')" %>
                <%= link_to "删除", specific_item, :method => :delete, :confirm => "确定删除吗？" %>
              <% end %>
            </li>
        </ol>
        <% end %>
    </ul>
    <div class="clean">&nbsp;</div>
    <!--
    <div class="fenye">第 1/1 页 <a href="#">上一页</a> <a href="#">1</a> <a href="#">下一页</a></div>
    -->
</div>



<div class="clean">&nbsp;</div> <!-- 清除样式 -->
<!---------------------------------------------商品信息PK结束----------------------------------------->
