<%# var: user %>
<!--//////////////////////////////左边栏开始//////////////////////////////-->
<div id="left_box">
  <!-----------------------------------------------------产品菜单开始----------------------------------------->
  <div id="menu">
    <div id="sidebar">
      <div class="title_name">个人中心<%= content_for?(:user) %></div>
      <div class="touxiang">
        <%= image_tag asset_path("user01.jpg"), :size => "196x193" %>
      </div>
      <div class="userinfo">
        <h7>
          <%= image_tag asset_path("icon/icon_03.png"), :size => "14x14" %>
          <%= link_to "基本信息", @user %>
        </h7>
        <h7><%= link_to_function "[编辑头像]", "open_dialog('ooxx')" %></h7>
        <p>昵称：<%= user.login %> </p>
        <p>宝宝年龄：<%= user.baby_age %></p>
        <p>宝宝性别：<%= user.baby_gender %></p>
      </div>
    </div>
    <div id="sidebar">
      <div class="title_name">应用统计</div>
      <div class="userinfo">
        <ul>
          <li><%= image_tag asset_path("icon/icon_03.png"), :size => "14x14" %>
          <%= link_to "用户资料编辑", edit_user_path(:id => user.id) %>
</li>
          <li><%= image_tag asset_path("icon/icon_03.png"), :size => "14x14" %>
<a href="user_02.html" target="show">喜欢的产品 [20] </a></li>
          <li><%= image_tag asset_path("icon/icon_03.png"), :size => "14x14" %>
<a href="user_03.html" target="show">分享过的产品 [18]</a></li>
          <li><%= image_tag asset_path("icon/icon_03.png"), :size => "14x14" %>
          <%= link_to "评论过的产品[#{user.comments.size}]", comments_user_path(:id => user.id) %>
</li>
          <li><%= image_tag asset_path("icon/icon_03.png"), :size => "14x14" %>
<a href="user_05.html" target="show">您的宝宝还可能喜欢</a></li>
          <!--<li><img src="images/icon/icon_03.png" width="14" height="14" /> <a href="user_06.html" target="show">好友的推荐</a></li>-->
        </ul>
      </div>
      <div class="clean">&nbsp;</div>
      <!-- 清除样式 -->
    </div>
  </div>
</div>
<!--//////////////////////////////左边栏结束////////////////////////////-->
