<%= render :partial => 'left_menu', :locals => { :user => @user } %>

<!--//////////////////////////////右边栏栏始/////////////////////////////-->
<div id="right_box">
<div class="userinfo_showbox">
  <div class="userinfo_title">
    <p> 评论过的产品 [<%= @comments.size %>] </p>
  </div>
  <div class="xihuan_contentbox">
    <ul>
      <% @comments.each do |comment| %>
      <ol>
        <%= render :partial => 'generic_items/horizontal_entity', :locals => {
          :generic_item => comment.generic_item, :entity_to_be_removed => comment} %>
        <dl>
          <h4>我的评论：</h4>
          <dd><span><%= comment.title %>, <%= comment.content %></span></dd>
        </dl>
      </ol>
      <% end %>
    </ul>
  </div>
</div>
</div>
<!--//////////////////////////////右边栏结束/////////////////////////////-->
