<%# level_1_category %>
<%# level_2_category %>
<%# title %>

<div class="title_name"><%= link_to_function level_1_title, "#" %></div>

  <% level_1_category.each do |category| %>
  <div class="sidelist">
    <span><h3>
      <%= link_to_function image_tag(asset_path("icon/icon_03.png"), :size => "14x14") +
        " " + category.name , "#" %>
    </h3></span>
    <div class="i-list">
      <div class="i-list-icon">
        <%= image_tag asset_path("03age.png"), :size => "120x125" %>
      </div>
      <div class="i-list-info">
        <div class="menu_title"><%= link_to_function category.name + " :", "#" %>
          <span class="more_menu_nav"><%= link_to_function "更多 >> ", "#" %></span>
        </div>
          <ul>
            <% level_2_category.each do |category_level2| %>
            <li><%= link_to_function image_tag(asset_path("icon/icon_star.png"), :size => "14x14") + " " +
              category_level2.name , "#" %>
            </li>
            <% end %>
            <div class="clean">&nbsp;</div>
          </ul>
          <div class="clean">&nbsp;</div>
        <div class="menu_info">
          <%= image_tag asset_path("ts.jpg"), :size => "30x31" %>
          布布小贴示: <%= category.tip %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div style="height:30px;">&nbsp;</div>
