<%# level_1_category %>
<%# level_2_category %>
<%# title %>
<div class="title_name"><%= link_to_function level_1_title, "#" %></div>
  <% level_1_category.each do |category| %>
    <% age_scope = category.name %>
    <% level_1_link_destination= search_by_categories_from_side_bar_generic_items_path("age_scope".to_sym => age_scope) %>
  <div class="sidelist">
    <span><h3>
      <%= link_to image_tag(asset_path("icon/icon_03.png"), :size => "14x14") +
        " " + category.name , level_1_link_destination, :target => "_blank"%>
    </h3></span>
    <div class="i-list">
      <div class="i-list-icon">
        <%= image_tag asset_path("03age.png"), :size => "120x125" %>
      </div>
      <div class="i-list-info">
        <div class="menu_title"><%= link_to category.name + " :", level_1_link_destination, :target => "_blank" %>
          <span class="more_menu_nav"><%= link_to "#{t 'more' } >> ", level_1_link_destination, :target => "_blank" %></span>
        </div>
        <ul>
          <% level_2_category.each do |category_level2| %>
          <li><%= link_to image_tag(asset_path("icon/icon_star.png"), :size => "14x14") + " " +
            category_level2.name , search_by_categories_from_side_bar_generic_items_path(:category_id_by_usage => category_level2.id,
              :age_scope => age_scope),
            :target => "_blank" %>
          </li>
          <% end %>
          <div class="clean">&nbsp;</div>
        </ul>
        <div class="clean">&nbsp;</div>
        <div class="menu_info">
          <%= image_tag asset_path("ts.jpg"), :size => "30x31" %>
          <%= t 'tips' %>: <%= category.tip %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div style="height:30px;">&nbsp;</div>
