<%= form_for(@generic_item, :html => { :multipart => true }) do |f| %>
  <% if @generic_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generic_item.errors.count, "error") %> prohibited this generic_item from being saved:</h2>

      <ul>
      <% @generic_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    名称: <%= f.text_field :name %>
  </div>
  <div class="field">
    一段描述文字： <br/>
    <%= f.text_area :description, :size => "40 x 4" %>
  </div>
  <div class="field">
    分类： <%= f.number_field :category_id %>
  </div>
  <div class="field">
    UUID(唯一性的标识) <%= f.text_field :uuid %>
  </div>
  <div class="field">
    适宜年龄： <%= f.text_field :child_age_scope %>岁 (例如： 10~14岁）
  </div>
  <div class="field">
    <%= f.label :scores %><br />
    <%= f.text_field :scores %>
  </div>
  <div class="field">
    小贴士：<br/>
    <%= f.text_area :tips, :size => "40x4" %>
  </div>
  <%= link_to_function "添加图片？ ", "" unless @generic_item.new_record? %>
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
