<!---------------------------------- 汽车模型照片开始 -->
<script>
$(function(){
  $(".zoom_box_border ul li a").mouseover(function(){
    image_url = $(this).attr("href")
    $("#zoom1 img").attr("src", image_url)
  })
})
</script>
<div class="pp_show">
  <% if generic_item.images.size > 0 %>
  <a href="zoom/zbig01.jpg" class="MagicZoom" title="汽车模型" id="zoom1">
    <%= image_tag generic_item.images.first.large_size_url, :size => "280x280" %>
  </a>
  <% else %>
    暂无图片。
  <% end %>
  <div class="zoom_box_border">
    <span class="slve_bar_left">
      <%= link_to_function image_tag(asset_path( "gallery_left_arrow.jpg"), :width=>10, :height => 60), "" %>
    </span>
    <ul>
      <% temp_max = 0 %>
      <% generic_item.images.each do |image| %>
        <% break if temp_max == 4
          temp_max += 1
        %>
      <li>
        <% if image.external_url.blank?  %>
        <%= link_to  image_tag( image.itself.url(:thumb)), image.itself.url(:large)%>
        <% else %>
        <%= link_to  image_tag( image.external_url, :size => "60x60" ), image.external_url %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <span class="slve_bar_right">
      <%= link_to_function image_tag(asset_path( "gallery_right_arrow.jpg"), :width=>10, :height => 60), "" %>
    </span>
  </div>
</div>
<!---------------------------------- 汽车模型照片结束-->
