<%# tab_index %>
<div class="product_box">
  <div id="tab<%= tab_index %>">
    <ul>
      <% categories.each_index do |i| %>
      <li onmouseover="setTab(<%= tab_index %>,<%= i %>)" <% if i ==0 %>class="now"  <% end %>><%= categories[i].name %></li>
      <% end %>
    </ul>

  </div>
  <div id="tablist<%= tab_index %>">
    <% categories.each_index do |i| %>
    <% category = categories[i] %>
    <div class="tablist <% if i == 0 %> block <% end %>"><span class="more"><%= link_to_function "#{t 'more' } >>" , "#" %> </span>
      <ul>
        <p style="min-height:30px"><%= category.tip %> &nbsp; </p>
        <% category.generic_items(8).order("scores desc").each do |generic_item| %>
        <!-- 单个商品信息 -->
        <a href="<%= generic_item_path(generic_item.id) %>" target="_blank" tip="">
        <ol>
            <%= image_tag( generic_item.logo_url || asset_path("demo4.jpg"), :size => "130x130") %>
            <li><h4><%= truncate (generic_item.name, :length => 15)%></h4></li>
            <li><%= t 'price_scope' %>：<span class="jiage">￥<%= generic_item.price_scope %></span></li>
            <li><%= t 'scores' %>：<%= generic_item.scores %></li>
        </ol>
        </a>
        <!-- 单个商品信息 end -->
        <% end %>
      </ul>
      <span class="clean">&nbsp;</span><!-- 清除样式 -->
    </div>
    <% end %>
  </div>
 </div>
