<div class="product_box">
  <div id="tab2">
    <ul>
      <% categories = Category.last(4) %>
      <% categories.each_index do |i| %>
      <li onmouseover="setTab(2,<%= i %>)" <% if i ==0 %>class="now"  <% end %>><%= categories[i].name %></li>
      <% end %>
    </ul>

  </div>
  <div id="tablist2">
    <% categories.each_index do |i| %>
    <% category = categories[i] %>
    <div class="tablist <% if i == 0 %> block <% end %>"><span class="more"><a href="#">更多>> </a></span>
      <ul>
        <p style="min-height:30px"><%= category.description %> &nbsp; </p>
        <% GenericItem.where("category_id = #{category.id}").limit(8).each do |generic_item| %>
        <!-- 单个商品信息 -->
        <ol>
            <%= link_to image_tag( generic_item.logo_url || asset_path("demo4.jpg"), :size => "130x130"),
              generic_item, :target => "_blank"%>
            <li><h4><a href="#"><%= generic_item.name %></a></h4></li>
            <li>价格区间：<span class="jiage">￥<%= generic_item.price_scope %></span></li>
            <li>人气指数：<%= generic_item.scores %></li>
        </ol>
        <!-- 单个商品信息 end -->
        <% end %>
      </ul>
      <span class="clean">&nbsp;</span><!-- 清除样式 -->
    </div>
    <% end %>
  </div>
 </div>
