<div id="photo_show">
  <div id="photo_box">
    <div class="sub_box">
      <div id="p-select" class="sub_nav">
        <div class="sub_no" id="bd1lfsj">
          <ul>
            <% (1..5).each do |i| %>
            <li class=""><%= i%></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="bd1lfimg">
        <div>
          <dl class="show"> </dl>
          <% Slider.last(5).each do |slider| %>
          <a href="<%= slider.target_url %>">
          <dl class="slider">
            <dt> <%= image_tag(slider.image_url, :size => "600x200") %> </dt>
            <dd>
              <h2><%= slider.title %></h2>
              <tt><%= slider.content %></tt>
            </dd>
          </dl>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $("#bd1lfsj li").first().attr("class","show")
  movec();
})
</script>
