<h1>Listing generic_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Uuid</th>
    <th>Child age scope</th>
    <th>Scores</th>
    <th>Tips</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @generic_items.each do |generic_item| %>
  <tr>
    <td><%= generic_item.name %></td>
    <td><%= generic_item.description %></td>
    <td><%= generic_item.category_id %></td>
    <td><%= generic_item.uuid %></td>
    <td><%= generic_item.child_age_scope %></td>
    <td><%= generic_item.scores %></td>
    <td><%= generic_item.tips %></td>
    <td><%= link_to 'Show', generic_item %></td>
    <td><%= link_to 'Edit', edit_generic_item_path(generic_item) %></td>
    <td><%= link_to 'Destroy', generic_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Generic item', new_generic_item_path %>
