  <!--//////////////////////////////左边栏开始//////////////////////////////-->
  <div id="left_box">
    <%= render :partial => 'categoriy_menus_on_left_side' %>
  </div>
  <!--//////////////////////////////左边栏结束////////////////////////////-->

  <!--//////////////////////////////右边栏栏始/////////////////////////////-->
  <div id="right_box">
    <%= render :partial => 'slider' %>
    <%= render :partial => 'extended_functionalities' %>

    <div class="clean">&nbsp;</div><!-- 清除样式 -->

    <%= render :partial => 'product_box_grouped_by_tabs', :locals => {
      :categories => Category.by_usage.last(5), :tab_index => 1} %>
    <%= render :partial => 'product_box_grouped_by_tabs', :locals => {
      :categories => Category.by_shape.last(7), :tab_index => 3} %>
    </div>
<script>
<!--
/*第一种形式 第二种形式 更换显示样式*/
function setTabfun(m,n){
 var tli=$("#menu"+m+" li");
 var mli=$("#main"+m+" ul");

 for(i=0;i<tli.length;i++){
  tli[i].className=i==n?"hover":"";
  mli[i].style.display=i==n?"block":"none";
 }
}
//-->
</script>
