<!-- 中间内容开始 -->
<div id="select_nav">
  <ul>
    <% if @generic_item_name %>
    <h1><%= t 'keyword' %>：<%= @generic_item_name %></h1>
    <% end %>
      <!-- TODO 等董凯回复完我的邮件之后再放开它
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "年龄"} do %>
        <% Category.by_age.all.each do |category| %>
          <%= link_to category.name, params.merge(:age_scope => category.name, :page => nil) %>
        <% end %>
      <% end %>
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "价格"} do %>
        <% ["0-49", "50-99", "100-199", "200-499", "500-699", "700以上"].each do |price| %>
          <%= link_to price, params.merge(:price => price, :page => nil) %>
        <% end %>
      <% end %>
      -->
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "品牌",
        :param_name => :vendor_id} do %>
        <% Vendor.first(30).each do |vendor| %>
          <%= link_to vendor.name, params.merge(:vendor_id => vendor.id, :page => nil) %>
        <% end %>
      <% end %>
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "适宜人群",
        :param_name => :customer_gender} do %>
        <% ["男孩", "女孩"].each do |sex| %>
          <% para = sex.gsub('孩', '') %>
          <%= link_to sex, params.merge(:customer_gender => para, :page => nil) %>
        <% end %>
      <% end %>
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "功能",
        :param_name => :category_id_by_usage} do %>
        <% Category.by_usage.all.each do |category| %>
          <%= link_to category.name, params.merge(:category_id_by_usage => category.id , :page => nil) %>
        <% end %>
      <% end %>
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "模型",
        :param_name => :category_id_by_shape } do %>
        <% Category.by_shape.all.each do |category| %>
          <%= link_to category.name, params.merge(:category_id_by_shape => category.id , :page => nil) %>
        <% end %>
      <% end %>

      </ul>
      <div class="clean">&nbsp;</div>
    </div>
    <div class="search_list">
      <div class="search_paixu" style="height: 44px">
        <%
          previous_scores_order =  params[:scores_order] || "scores asc"
          scores_order = previous_scores_order == "scores asc" ? "scores desc" : "scores asc"
        %>
        <span><%= t 'order' %>：</span>
        <!--
        <span><strong><a href="#"><%= t 'price' %></a></strong></span>
        -->
        <span><%= link_to t('scores'), params.merge(:scores_order => scores_order) %>
        <%= raw scores_order.include?("asc") ? "&darr;" : "&uarr;" %>
        </span >
        <!-- page entries info -->
        <div class="pn_box">
          <%= raw paginate @generic_items %>
        </div>
        <!--
        <span class="pn"> <a href="#">上一页</a> 1/12 <a href="#">下一页</a> </span>
        -->
      </div>
      <div class="p_result">
        <ul>
          <% @generic_items.each do |generic_item| %>
            <%= render :partial =>"generic_items/details_of_one_generic_item", :locals => { :generic_item => generic_item } %>
          <% end %>
        </ul>
        <!-- pagination information -->
        <div class="pn_box">
          <%= raw paginate @generic_items %>
        </div>
        <div class="clean">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<!-- 中间内容结束 -->
