<!--//////////////////////////////左边栏开始//////////////////////////////-->
<div id="left_box">
  <%= render :partial => 'category_menus_on_left_side_for_search_by_categories_from_side_bar' %>
</div>
<!--//////////////////////////////左边栏结束////////////////////////////-->

<!--//////////////////////////////右边栏栏始/////////////////////////////-->
<div id="right_box">
  <div class="info_category">&nbsp;</div>
  <div id="select_nav">
    <ul>
      <% if @age_scope %>
      <h1><%= @age_scope %>岁：</h1>
      <% end %>

      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "价格",
        :param_name => :price_scope} do %>
        <% ["0-49", "50-99", "100-199", "200-499", "500-699", "700-999999"].each do |price_scope| %>
          <% link_name = "700以上" if price_scope.include?("700-999999") %>
          <%= link_to link_name || price_scope, params.merge(:price_scope => price_scope, :page => nil) %>
        <% end %>
      <% end %>

      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "品牌",
        :param_name => :vendor_id} do %>
        <% Vendor.find_those_having_items(30,params).each do |vendor| %>
          <%= link_to vendor.name, params.merge(:vendor_id => vendor.id, :page => nil) %>
        <% end %>
      <% end %>
      <%= render :layout => 'generic_items/single_filter', :locals => {:name => "适宜人群",
        :param_name => :customer_gender} do %>
        <% ["男", "女"].each do |customer_gender| %>
          <%= link_to customer_gender+ "孩", params.merge(:customer_gender => customer_gender, :page => nil) %>
        <% end %>
      <% end %>

    </ul>
    <div class="clean">&nbsp;</div>
  </div>


  <!-- result list -->
<div class="result_list">
      <div class="paixu">
        <%
          previous_scores_order =  params[:scores_order] || "scores asc"
          scores_order = previous_scores_order == "scores asc" ? "scores desc" : "scores asc"
        %>
        <span><%= t 'order' %>：</span>
        <span><%= link_to t('scores'), params.merge(:scores_order => scores_order) %>
        <%= raw scores_order.include?("asc") ? "&darr;" : "&uarr;" %>
        </span >
        <!-- page entries info -->
        <div class="pn_box">
          <%= raw paginate @generic_items %>
        </div>
        <!--
        <span class="pn"> <a href="#">上一页</a> 1/12 <a href="#">下一页</a></span>
        -->
      </div>
      <div class="p_result">
        <ul>
          <% @generic_items.each do |generic_item| %>
            <%= render :partial =>"generic_items/details_of_one_generic_item", :locals => { :generic_item => generic_item } %>
          <% end %>
        </ul>
        <!-- pagination information -->
        <div class="pn_box">
          <%= raw paginate @generic_items %>
        </div>
        <div class="clean">&nbsp;</div>
        </div>
      </div>
</div>
