<p id="notice"><%= notice %></p>

<script type="text/javascript">
function award_score(){
  $.ajax( {
    url : "<%= award_score_generic_item_path( @generic_item)  %>",
    type: "PUT",
    success: function(){
      $("#tip_for_scores").text("评价成功！")
      old_value = parseInt($("#scores").text())
      $("#scores").text(old_value + 1)
    }
  })
}
</script>
  <!--//////////////////////////////左边栏开始//////////////////////////////-->
  <div id="left_box">
  <!-----------------------------------------------------产品菜单开始----------------------------------------->

    <div id="menu">
      <div id="sidebar">
      <div class="title_name"><a href="#">模型玩具类</a></div>
        <div id="ssfl">
        <ul>
            <li><a href="#">汽车模型</a></li>
            <li><a href="#">飞机模型</a></li>
            <li><a href="#">舰艇模型</a></li>
            <li><a href="#">武器模型</a></li>
            <li><a href="#">建筑模型</a></li>
            <li><a href="#">卡通模型</a></li>
            <div class="clean">&nbsp;</div>
        </ul>
        </div>
        <div class="clean">&nbsp;</div> <!-- 清除样式 -->
      </div>
    </div>
  <!-----------------------------------------------------产品菜单结束----------------------------------------->

  </div>
  <!--//////////////////////////////左边栏结束////////////////////////////-->



  <!--//////////////////////////////右边栏栏始/////////////////////////////-->
  <div id="right_box">


<!----------------------------------------------商品信息区开始------------------------------------------->
<div id="detail_info">
  <%= render :partial => 'gallery', :locals => {:generic_item => @generic_item } %>

<div id="info_show">
<div class="xihuan">
  <span><%= link_to_function "喜欢", "award_score()", :method => :put %></span>
  <span style="margin-left:7px; font-size:14px;"> <span id ="scores"><%= @generic_item.scores %></span></span>
</div>
    <ul>
    <p class="product_name">
    <% if can?(:manage, @generic_item) %>
    <%= link_to_function "[编辑]", "open_dialog('#{edit_generic_item_path(@generic_item)}')" %>
    <% end %>
    <%= @generic_item.name %>
    </p>
    <li>品牌： 迪斯尼</li>
    <li>价格区间： <span style="font-size:16px; font-weight:bold; color:#F30; font-family:Arial, Helvetica, sans-serif;">
      <%= @generic_item.price_scope %></span> 元</li>
    <li>适宜年龄：<span style="font-size:12px; font-weight:bold; color:#090;">
      <%= @generic_item.child_age_scope %> 岁</span></li>
    <li>适宜性别：<span style="font-size:12px; font-weight:bold; color:#090;">
      <%= @generic_item.customer_gender %></span></li>

    <p class="bubu_note"><span style="font-weight:bold;">
      <img src="<%= asset_path "ts.png" %>" width="30" height="31" />布布小贴士：</span>
      <%= @generic_item.tips %>
    </p>

    </ul>
    <div class="share_box">
    <div style="margin:8px;"><strong>分享到:</strong>
      <a href="#"><img src="<%= asset_path "icon/icon_msn.png" %>" width="16" height="16" alt="MSN" /></a>
      <a href="#"><img src="<%= asset_path "icon/icon_qq_qq.png" %>" width="16" height="16" alt="QQ" /></a>
      <a href="#"><img src="<%= asset_path "icon/icon_sina.png" %>" width="16" height="16" alt="SINA" /></a>
      <a href="#"><img src="<%= asset_path "icon/icon_ren.png" %>" width="16" height="16" alt="REN" /></a>
      </div>
      </div>
</div>

</div>
<div class="clean">&nbsp;</div> <!-- 清除样式 -->
    <%= render :partial => "specific_items/list", :locals => { :generic_item => @generic_item } %>
    <%= render :partial => 'comments/list', :locals => { :generic_item => @generic_item } %>
  <div class="product_box">
  <div id="tab2">
    <ul>
      <li onmouseover="setTab(2,0)" class="now">同类产品推荐</li>
    </ul>
  </div>
  <div id="tablist2">
    <div class="tablist block">
        <ul>
            <!-- 单个商品信息 -->
            <ol><span class="bbtj">&nbsp;</span>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <!-- 单个商品信息 end -->
            <ol><span class="bbtj">&nbsp;</span>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <!-- 单个商品信息 end -->
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
        </ul>

   </div>



  </div>
 </div>
    <!---------------------------------------------情感分类选项卡结束----------------------------------------->



    </div>
  <!--//////////////////////////////右边栏结束/////////////////////////////-->

<% if can? :manage, @generic_item %>
<div style="clear:both" ></div>
<h2>照片管理==== </h2>
<%= render :partial => "images/list", :locals => { :generic_item => @generic_item } %>
<% end %>
