<p id="notice"><%= notice %></p>

<script type="text/javascript">
function award_score(){
  $.ajax( {
    url : "<%= award_score_generic_item_path( @generic_item)  %>",
    type: "PUT",
    success: function(){
      $("#tip_for_scores").text("<%= t 'voted_successfully' %>! ")
      old_value = parseInt($("#scores").text())
      $("#scores").text(old_value + 1)
    }
  })
}
</script>
  <!--//////////////////////////////左边栏开始//////////////////////////////-->
  <div id="left_box">
  <!-----------------------------------------------------产品菜单开始----------------------------------------->

    <div id="menu">
      <div id="sidebar">
      <div class="title_name"><a href="#">模型玩具类</a></div>
        <div id="ssfl">
        <ul>
            <li><a href="#">汽车模型</a></li>
            <li><a href="#">飞机模型</a></li>
            <li><a href="#">舰艇模型</a></li>
            <li><a href="#">武器模型</a></li>
            <li><a href="#">建筑模型</a></li>
            <li><a href="#">卡通模型</a></li>
            <div class="clean">&nbsp;</div>
        </ul>
        </div>
        <div class="clean">&nbsp;</div> <!-- 清除样式 -->
      </div>
    </div>
  <!-----------------------------------------------------产品菜单结束----------------------------------------->

  </div>
  <!--//////////////////////////////左边栏结束////////////////////////////-->



  <!--//////////////////////////////右边栏栏始/////////////////////////////-->
  <div id="right_box">


<!----------------------------------------------商品信息区开始------------------------------------------->
<div id="detail_info">
  <%= render :partial => 'gallery', :locals => {:generic_item => @generic_item } %>

<div id="info_show">
<div class="xihuan">
  <span><%= link_to_function t('like'), "award_score()", :method => :put %></span>
  <span style="margin-left:7px; font-size:14px;"> <span id ="scores"><%= @generic_item.scores %></span></span>
</div>
    <ul>
    <p class="product_name">
    <% if can?(:manage, @generic_item) %>
    <%= link_to_function "[#{t 'edit' }]", "open_dialog('#{edit_generic_item_path(@generic_item)}')" %>
    <% end %>
    <%= @generic_item.name %>
    </p>
    <li><%= t 'vendor' %>： 迪斯尼(待定)</li>
    <li><%= t 'price_scope' %>： <span style="font-size:16px; font-weight:bold; color:#F30; font-family:Arial, Helvetica, sans-serif;">
      <%= @generic_item.price_scope %></span> 元</li>
    <li><%= t 'age_scope' %>：<span style="font-size:12px; font-weight:bold; color:#090;">
      <%= @generic_item.category_by_age.name %> 岁</span></li>
    <li><%= t 'customer_gender' %>：<span style="font-size:12px; font-weight:bold; color:#090;">
      <%= @generic_item.customer_gender %></span></li>

    <p class="bubu_note"><span style="font-weight:bold;">
      <img src="<%= asset_path "ts.png" %>" width="30" height="31" /><%= t 'tips' %>：</span>
      <%= @generic_item.tips %>
    </p>

    </ul>
    <div class="share_box">
      <div style="margin:8px;"><strong><%= t 'share_to' %>:</strong>
      <% ["msn", "qq", "sina", "renren"].each do |website| %>
        <%= link_to_function image_tag( asset_path "icon/icon_#{website}.png", :size => "16x16"), "#" %>
      <% end %>
      </div>
    </div>
</div>

</div>
  <div class="clean">&nbsp;</div> <!-- 清除样式 -->
    <%= render :partial => "specific_items/list", :locals => { :generic_item => @generic_item } %>
    <%= render :partial => 'comments/list', :locals => { :generic_item => @generic_item } %>
    <h3> <%= t 'recommendation_for_same_category' %></h3>
    <%= render :partial => 'product_box_grouped_by_tabs', :locals => {
      :categories => Category.by_shape.last(2), :tab_index => 3} %>

</div>
  <!--//////////////////////////////右边栏结束/////////////////////////////-->

<% if can? :manage, @generic_item %>
<div style="clear:both" ></div>
<h2>照片管理==== </h2>
<%= render :partial => "images/list", :locals => { :generic_item => @generic_item } %>
<% end %>
