<p id="notice"><%= notice %></p>

<%= link_to_function "编辑", "open_dialog('#{edit_generic_item_path(@generic_item)}')" %>
<p>
  <b>Name:</b>
  <%= @generic_item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @generic_item.description %>
</p>

<p>
  <b>产品分类:</b>
  <%= @generic_item.category_id %>
</p>

<p>
  <b>唯一标识：Uuid:</b>
  <%= @generic_item.uuid %>
</p>

<p>
  <b>适宜年龄:</b>
  <%= @generic_item.child_age_scope %> 岁.
</p>

<p>
  <b>Scores:</b>
  <span id ="scores"><%= @generic_item.scores %></span>
  <%= button_to_function "喜欢", "award_score()", :method => :put %>
  <span id ="tip_for_scores"></span>
</p>

<p>
  <b>布布小贴士:</b>
  <%= @generic_item.tips %>
</p>
<h2>布布购物街=== </h2>
<%= render :partial => "specific_items/list", :locals => { :generic_item => @generic_item } %>
<h2>照片==== </h2>
<%= render :partial => "images/list", :locals => { :generic_item => @generic_item } %>
<h2>评论==== </h2>
<%= render :partial => "comments/list", :locals => { :generic_item => @generic_item } %>


<script type="text/javascript">
function award_score(){
  $.ajax( {
    url : "<%= award_score_generic_item_path( @generic_item)  %>",
    type: "PUT",
    success: function(){
      $("#tip_for_scores").text("评价成功！")
      old_value = parseInt($("#scores").text())
      $("#scores").text(old_value + 1)
    }
  })
}
</script>
  <!--//////////////////////////////左边栏开始//////////////////////////////-->
  <div id="left_box">
  <!-----------------------------------------------------产品菜单开始----------------------------------------->

    <div id="menu">
      <div id="sidebar">
      <div class="title_name"><a href="#">模型玩具类</a></div>
        <div id="ssfl">
        <ul>
            <li><a href="#">汽车模型</a></li>
            <li><a href="#">飞机模型</a></li>
            <li><a href="#">舰艇模型</a></li>
            <li><a href="#">武器模型</a></li>
            <li><a href="#">建筑模型</a></li>
            <li><a href="#">卡通模型</a></li>
            <div class="clean">&nbsp;</div>
        </ul>
        </div>
        <div class="clean">&nbsp;</div> <!-- 清除样式 -->
      </div>
    </div>
  <!-----------------------------------------------------产品菜单结束----------------------------------------->

  </div>
  <!--//////////////////////////////左边栏结束////////////////////////////-->



  <!--//////////////////////////////右边栏栏始/////////////////////////////-->
  <div id="right_box">


<!----------------------------------------------商品信息区开始------------------------------------------->
 <div id="detail_info">

 <div class="pp_show">
<a href="zoom/zbig01.jpg" class="MagicZoom" title="汽车模型" id="zoom1"><img src="<%= asset_path "zoom/big01.jpg" %>"/></a>
<div class="zoom_box_border"><img class="MagicZoomLoading" src="<%= asset_path "zoom/ajax-loader.gif" %>" alt="加载中..."/>
 <span class="slve_bar_left"><a href="#"><img src="<%= asset_path "temp5.jpg" %>" width="10" height="60" /></a></span>

 <ul>
    <li><a href="zoom/zbig01.jpg" rel="zoom1" rev="zoom/big01.jpg" title="汽车模型"><img src="<%= asset_path "zoom/small01.jpg" %>"/></a></li>
    <li><a href="zoom/zbig02.jpg" rel="zoom1" rev="zoom/big02.jpg" title="汽车模型"><img src="<%= asset_path "zoom/small02.jpg" %>"/></a></li>
    <li><a href="zoom/zbig03.jpg" rel="zoom1" rev="zoom/big03.jpg" title="汽车模型"><img src="<%= asset_path "zoom/small03.jpg" %>"/></a></li>
    <li><a href="zoom/zbig04.jpg" rel="zoom1" rev="zoom/big04.jpg" title="汽车模型"><img src="<%= asset_path "zoom/small04.jpg" %>"/></a></li>
</ul>

<span class="slve_bar_right"><a href="#"><img src="<%= asset_path "temp4.jpg" %>" width="10" height="60" /></a></span> </div>
</div>

<div id="info_show">
<div class="xihuan"><span><a href="#">喜欢</a></span> <span style="margin-left:7px; font-size:14px;"> 1234</span></div>
    <ul>
    <p class="product_name">汽车模型</p>
    <li>品牌： 迪斯尼</li>
    <li>价格区间： <span style="font-size:16px; font-weight:bold; color:#F30; font-family:Arial, Helvetica, sans-serif;">100-800</span> 元</li>
    <li>适宜年龄：<span style="font-size:12px; font-weight:bold; color:#090;"> 10-14岁</span></li>
    <li>适宜性别：<span style="font-size:12px; font-weight:bold; color:#090;"> 男孩</span></li>

    <p class="bubu_note"><span style="font-weight:bold;"><img src="<%= asset_path "ts.png" %>" width="30" height="31" />布布小贴士：</span>幼儿年龄小，安全意识很差，并且缺乏生活经验，见了新鲜事物敢于冒险，所以我们一定要提高警惕心。幼儿年龄小，安全意识很差，并且
缺乏生活经验，见了新鲜事物敢于冒险，所以我们一定要提高警惕心。</p>

    </ul>
    <div class="share_box">
    <div style="margin:8px;"><strong>分享到:</strong>
      <a href="#"><img src="<%= asset_path "icon/icon_msn.png" %>" width="16" height="16" alt="MSN" /></a>
      <a href="#"><img src="<%= asset_path "icon/icon_qq_qq.png" %>" width="16" height="16" alt="QQ" /></a>
      <a href="#"><img src="<%= asset_path "icon/icon_sina.png" %>" width="16" height="16" alt="SINA" /></a>
      <a href="#"><img src="<%= asset_path "icon/icon_ren.png" %>" width="16" height="16" alt="REN" /></a>
      </div>
      </div>
</div>

</div>
<div class="clean">&nbsp;</div> <!-- 清除样式 -->
    <!----------------------------------------------商品信息区结束------------------------------------------->


    <!---------------------------------------------商品信息PK开始----------------------------------------->
    <div id="pk_info">
        <div id="bbgwj_title"><span class="pk_box_title">布布购物街</span></div>

        <ul>
            <ol class="project">
                <li><a href="#">商家</a></li>
                <li><a href="#">价格（￥）</a></li>
                <li>品牌</li>
                <li>物流</li>
                <li><a href="#">推荐度</a></li>
                <li>&nbsp;</li>
            </ol>
                <ol>
                <li class="shangjia">京东商城</li>
                <li class="jiage">230</li>
                <li class="pinpai">木玩世家</li>
                <li class="pinpai">有，免费</li>
                <li class="tjd">★★★★</li>
                <li><a href="#">购买</a></li>
            </ol>
                        <ol>
                <li class="shangjia">亚马逊</li>
                <li class="jiage">220</li>
                <li class="pinpai">乐高</li>
                <li class="pinpai">有，免费</li>
                <li class="tjd">★★★</li>
                <li><a href="#">购买</a></li>
            </ol>
                <ol>
                <li class="shangjia">易迅网</li>
                <li class="jiage">350</li>
                <li class="pinpai">迪斯尼</li>
                <li class="pinpai">有，免费</li>
                <li class="tjd">★★★</li>
                <li><a href="#">购买</a></li>
            </ol>
            <ol>
                <li class="shangjia">当当网</li>
                <li class="jiage">249</li>
                <li class="pinpai">乐高</li>
                <li class="pinpai">有，10元</li>
                <li class="tjd">★★</li>
                <li><a href="#">购买</a></li>
            </ol>
            <ol>
                <li class="shangjia">红孩子</li>
                <li class="jiage">420</li>
                <li class="pinpai">迪士尼</li>
                <li class="pinpai">无</li>
                <li class="tjd">★★★★</li>
                <li><a href="#">购买</a></li>
            </ol>
            <ol>
                <li class="shangjia">淘宝商城</li>
                <li class="jiage">120</li>
                <li class="pinpai">不详</li>
                <li class="pinpai">无</li>
                <li class="tjd">★★</li>
                <li><a href="#">购买</a></li>
            </ol>
        </ul>

        <div class="clean">&nbsp;</div> <!-- 清除样式 -->
        <div class="fenye">第 1/1 页 <a href="#">上一页</a> <a href="#">1</a> <a href="#">下一页</a></div>
    </div>



<div class="clean">&nbsp;</div> <!-- 清除样式 -->
    <!---------------------------------------------商品信息PK结束-----------------------------------------



     <!---------------------------------------------情感分类选项卡开始----------------------------------------->
  <div class="product_box">
  <div id="tab1">
            <ul>
            <li onmouseover="setTab(1,0)" class="now">网友评论</li>
        </ul>
  </div>
  <div id="tablist1">
    <div class="tablist block">

            <dl id="dis_box">
            <dd>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="10%"><img src="icon/blogsina.gif" width="50" height="50" /></td>
                        <td width="90%"><h4>题目</h4><p>内容内容</p></td>
                    </tr>
                </table>
            </dd>
                        <dd>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="10%"><img src="icon/blogsina.gif" width="50" height="50" /></td>
                        <td width="90%"><h4>题目</h4><p>内容内容</p></td>
                    </tr>
                </table>
            </dd>
                        <dd>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="10%"><img src="icon/blogsina.gif" width="50" height="50" /></td>
                        <td width="90%"><h4>题目</h4><p>内容内容</p></td>
                    </tr>
                </table>
            </dd>
                        <dd>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="10%"><img src="icon/blogsina.gif" width="50" height="50" /></td>
                        <td width="90%"><h4>题目</h4><p>内容内容</p></td>
                    </tr>
                </table>
            </dd>
            <dd>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="10%"><img src="icon/blogsina.gif" width="50" height="50" /></td>
                        <td width="90%"><h4>题目</h4><p>内容内容</p></td>
                    </tr>
                </table>
            </dd>
            <dd>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="10%"><img src="icon/blogsina.gif" width="50" height="50" /></td>
                        <td width="90%"><h4>题目</h4><p>内容内容</p></td>
                    </tr>
                </table>
            </dd>

<span class="fenye">第 1/1 页 <a href="#">上一页</a> <a href="#">1</a> <a href="#">下一页</a></span>
            </dl>


   </div>


  </div>
 </div>
    <!---------------------------------------------情感分类选项卡结束----------------------------------------->






    <!---------------------------------------------情感分类选项卡开始----------------------------------------->
  <div class="product_box">
  <div id="tab2">
            <ul>
            <li onmouseover="setTab(2,0)" class="now">同类产品推荐</li>
        </ul>
  </div>
  <div id="tablist2">
    <div class="tablist block">
        <ul>
            <!-- 单个商品信息 -->
            <ol><span class="bbtj">&nbsp;</span>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <!-- 单个商品信息 end -->
            <ol><span class="bbtj">&nbsp;</span>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <!-- 单个商品信息 end -->
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
            <ol>
                <a href="#"><img src="<%= asset_path "demo.jpg" %>" width="130" height="130" /></a>
                <li><h4><a href="#">小猴子[毛绒类]</a></h4></li>
                <li>价格区间：￥80-320</li>
                <li>人气指数：18972</li>
            </ol>
        </ul>

   </div>



  </div>
 </div>
    <!---------------------------------------------情感分类选项卡结束----------------------------------------->



    </div>
  <!--//////////////////////////////右边栏结束/////////////////////////////-->

