<p id="notice"><%= notice %></p>

<script type="text/javascript">
function award_score(user_id, generic_item_id){
  // TODO rewrite this using coffeescript.
  // TODO: use jquery alert plugin instead of alert
  $.ajax( {
    url : "<%= favorites_path %>",
    data: { favorite:  { "user_id" : user_id, "generic_item_id" : generic_item_id  }},
    type: "POST",
    success: function(){
      $("#tip_for_scores").text("<%= t 'voted_successfully' %>! ")
      old_value = parseInt($("#scores").text())
      $("#scores").text(old_value + 1)
      alert("投票成功！～")
    },
    error: function(){
      alert("您已经投过票了")
    }
  })
}
</script>
  <!--//////////////////////////////左边栏开始//////////////////////////////-->
  <div id="left_box">
  <!-----------------------------------------------------产品菜单开始----------------------------------------->

    <div id="menu">
      <div id="sidebar">
      <div class="title_name">
        <%= link_to "模型玩具类", #search_generic_items_path(:category_id_by_shape
          "#" %>
      </div>
        <div id="ssfl">
        <ul>
          <% Category.by_shape.all.each do |category| %>
          <li>
            <%= link_to category.name, search_generic_items_path(:category_id_by_shape => category.id),
              :target => "_blank" %>
          </li>
          <% end %>
          <div class="clean">&nbsp;</div>
        </ul>
        </div>
        <div class="clean">&nbsp;</div> <!-- 清除样式 -->
      </div>
    </div>
  <!-----------------------------------------------------产品菜单结束----------------------------------------->

  </div>
  <!--//////////////////////////////左边栏结束////////////////////////////-->



  <!--//////////////////////////////右边栏栏始/////////////////////////////-->
  <div id="right_box">


<!----------------------------------------------商品信息区开始------------------------------------------->
<div id="detail_info">
  <%= render :partial => 'gallery', :locals => {:generic_item => @generic_item } %>

<div id="info_show">
<div class="xihuan">
  <span>
  <% if current_user && can?(:create, Favorite) %>
  <%= link_to_function t('like'), "award_score(#{current_user.id}, #{@generic_item.id})", :method => :put %>
  <% else %>
  <%= link_to_function t('like'), "open_dialog('#{new_user_session_path}')" %>
  <% end %>
  </span>

  <span style="margin-left:7px; font-size:14px;"> <span id ="scores"><%= @generic_item.scores %></span></span>
</div>
    <ul>
    <p class="product_name">
    <% if can?(:manage, @generic_item) %>
    <%= link_to_function "[#{t 'edit' }]", "open_dialog('#{edit_generic_item_path(@generic_item)}')" %>
    <% end %>
    <%= @generic_item.name %>
    </p>
    <% if @generic_item.vendor %>
    <li><%= t 'vendor' %>：
      <%= link_to @generic_item.vendor.name, search_generic_items_path(
        :vendor_id => @generic_item.vendor_id), :target => "_blank" %> </li>
    <% end %>
    <li><%= t 'price_scope' %>： <span style="font-size:16px; font-weight:bold; color:#F30; font-family:Arial, Helvetica, sans-serif;">
      <%= @generic_item.price_scope %></span> 元</li>
    <li><%= t 'age_scope' %>：<span style="font-size:12px; font-weight:bold; color:#090;">
      <%= @generic_item.category_by_age.try(:name) %> 岁</span></li>
    <li><%= t 'customer_gender' %>：<span style="font-size:12px; font-weight:bold; color:#090;">
      <%= @generic_item.customer_gender %></span></li>

    <p class="bubu_note"><span style="font-weight:bold;">
      <img src="<%= asset_path "ts.png" %>" width="30" height="31" /><%= t 'tips' %>：</span>
      <%= @generic_item.tips %>
    </p>

    </ul>
    <div class="share_box">
      <div style="margin:8px;"><strong><%= t 'share_to' %>:</strong>
      <% ["msn", "qq", "sina", "renren"].each do |website| %>
        <%= link_to_function image_tag( asset_path "icon/icon_#{website}.png", :size => "16x16"), "#" %>
      <% end %>
      </div>
    </div>
</div>

</div>
  <div class="clean">&nbsp;</div> <!-- 清除样式 -->
    <%= render :partial => "specific_items/list", :locals => { :generic_item => @generic_item } %>
    <%= render :partial => 'comments/list', :locals => { :generic_item => @generic_item } %>
    <h3> <%= t 'recommendation_for_same_category' %></h3>
    <%= render :partial => 'recommended_product_box_grouped_by_tabs' %>

</div>
  <!--//////////////////////////////右边栏结束/////////////////////////////-->

<% if can? :manage, @generic_item %>
<div style="clear:both" ></div>
<h2>照片管理==== </h2>
<%= render :partial => "images/list", :locals => { :generic_item => @generic_item } %>
<% end %>
