<h1>厂商列表 </h1>

<table>
  <tr>
    <th>名字</th>
    <th>提供的服务</th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.name %></td>
    <td><%= vendor.service %></td>
    <td><%= link_to_function '编辑', "open_dialog('#{edit_vendor_path(vendor)}')" %></td>
    <td><%= link_to '删除', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_function '新建', "open_dialog('#{new_vendor_path}')" %>
