= simple_form_for(@category) do |f|
  = f.input :principle,
    :label => "分类依据",
    :collection => [["按用途(智力开发，情感培养等)", Category::PRINCIPLE_BY_USAGE],
      ["按形状(例如毛绒)", Category::PRINCIPLE_BY_SHAPE],
      ["按年龄(例如1-3岁，3-4岁)", Category::PRINCIPLE_BY_AGE ]],
    :prompt => false,
    :hint => "大的分类"
  = f.input :name, :label => "名字", :hint => "毛绒类, 益智玩具..."
  = f.input :tip, :label => "小贴士", :input_html => {:size => "30x4"},
    :hint => "显示在首页上, 或者产品细节页"
  = render :partial => "layouts/submit_and_cancel"
