<!--//////////////////////////////顶部LOGO部分开始//////////////////////////////-->
<div id="logo_box">
  <div class="logo_welcom">
    <%= link_to image_tag(asset_path("logo.png"), :size => "160x68", :alt => "布布德智用品导购信息网"),
      root_path%>
  </div>
  <div id="login_info">
    <ul>
      <% if current_user.blank? %>
      <li class="welcom_login">
        <%= link_to_function image_tag( asset_path("login.png"), :size => "80x22", :alt=>"登陆"),
          "open_dialog('#{new_user_session_path}')" %>
        <%= link_to image_tag( asset_path("reg.png"), :size => "80x22", :alt=>"登陆"),  new_user_registration_path %>
      </li>
      <li style=" margin-top:3px; background:url(<%= asset_path "icon/icon_qq_qq.png" %>) no-repeat;"><a href="#"> QQ登陆 </a></li>
      <li style="margin-top:3px; background:url(<%= asset_path "icon/icon_sina.png" %> ) no-repeat;"><a href="#">微博登陆</a></li>
      <li style=" margin-top:3px;background:url(<%= asset_path "icon/tao.png" %> ) no-repeat;"><a href="#">淘宝登陆</a> | <a href="#">更多>> </a></li>
      <% else %>
      <li class="welcom_login">
        布布欢迎你，
        <%= link_to_function current_user.email, "open_dialog('#{edit_user_registration_path(current_user.id)
          }')"%> &nbsp;
        <% if can? :manage, Category %>
        <%= link_to "管理产品分类", categories_path %> &nbsp;
        <% end %>
        <%= link_to "退出", destroy_user_session_path, :method => :delete, :confirm => "确定退出吗？" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<!--//////////////////////////////顶部LOGO部分结束//////////////////////////////-->
